# MC Milyoner - Ortam Değişkenleri ve E-posta Ayarları (.env)
#
# 1. GMAIL SMTP DOĞRUDAN İLETİM (ÖNERİLEN):
# Google Hesabınızda (codingdevelopia@gmail.com) 2 Adımlı Doğrulamayı açın.
# https://myaccount.google.com/apppasswords adresine gidip "MC Milyoner" adında bir Uygulama Şifresi oluşturun (16 harfli).
# Aşağıdaki satırların başındaki # işaretini kaldırıp şifrenizi yapıştırın:
#
# GMAIL_USER=codingdevelopia@gmail.com
# GMAIL_APP_PASSWORD=buraya_16_haneli_uygulama_sifrenizi_yazin
# PORT=3000
#
# 2. ŞİFRESİZ FORMSUBMIT MODU (OTOMATİK):
# GMAIL_APP_PASSWORD tanımlanmadığında sunucu ve istemci otomatik olarak
# FormSubmit HTTPS servisini kullanarak codingdevelopia@gmail.com adresine e-posta gönderir.
# mail.google.com gelen kutunuzdaki "Activate Form" bağlantısına bir kez tıklamanız yeterlidir.
